<hr>
<%= image_tag @user.photo.url(:thumb), :style => "border: 2px solid black;"%>
<h2><%= @user.name %></h2>
<hr>
<h2><%= @user.bio %></h2>
<hr>

<% @posts.each do |post| %>
  <%if logged_in? && current_user.id == post.user_id%>
     <%=link_to "delete post", post_path(post), method: :delete %></h2>
  <%end%>
    <%= link_to 'upvote', "/posts/#{post.id}/upvote" %>
  <p><%= post.score %></p>
  <%= link_to 'downvote', "/posts/#{post.id}/downvote" %>
    <%= post.embed.html_safe %>
<%end%>
