<hr>
<h2 class="center"><%= @user.name %></h2>
<div class="center"><%= image_tag @user.photo.url(:thumb), :style => "border: 2px solid black;"%></div>
<hr>
<p class="center"><%= @user.bio %></p>
<hr>
<% if logged_in? && current_user.id == @user.id %>
  <%= form_for @new_post do |f| %>
    <%= f.text_area :embed, placeholder: "Enter Soundcloud embed", :class => "form-control"%>
    <br>
    <%= f.submit 'Post', :class => "btn btn-default"%>
  <%end%>
<%end%>

<hr>
<div class="container-fluid">
    <% @posts.each do |post| %>
      <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 vertAlign votePad">
      <%if logged_in? && current_user.id == post.user_id%>
         <%=link_to "delete post", post_path(post), method: :delete %></h2>
      <%end%>
      <%= link_to '<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>'.html_safe, "/posts/#{post.id}/upvote" %>
      <p><%= post.score %></p>
      <%= link_to '<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>'.html_safe, "/posts/#{post.id}/downvote" %>
 </div>
<div class="col-xs-9 col-sm-9 col-md-9">
    <%= post.embed.html_safe %>
    <%= link_to post.comments.count.to_s + " comments", post%>
  </div>
</div>
<%end%>
  </div>
