<h1>All Songs</h1>

<%= link_to "Crete New User!", new_user_path%> <br>
<%= link_to "View all Users", users_path%>

<% @posts.each do |post| %>
  <h2><%= link_to post.user.name , user_path(post.user) %> <%= link_to "delete post", post_path(post), method: :delete%></h2>
  <%= link_to 'upvote', "/posts/#{post.id}/upvote" %>
  <p><%= post.vote %></p>
  <%= link_to 'downvote', "/posts/#{post.id}/downvote" %>
  <p><%= post.embed %></p>
  <%= post.comments.count %> comment
  <% post.comments.each do |comment| %>
    <p><%= comment.user.name%></p>
    <p><%= comment.body %></p>
  <% end %>
<% end %>
