<p><%= @post.embed.html_safe %></p>
<hr>
 <h3>Song Score: <%= @post.votes.where({sentiment: 1}).count - @post.votes.where({sentiment: -1}).count %></h3>
<br>
<p> Posted by: <%= @post.user.name %></p>

<%= @post.comments.count %> comments

<br>
<%if logged_in?%>
  <%= form_for [@post, @comment] do |f| %>
  <hr>
    <%= f.text_area :body, :class => "form-control"%>
    <%= f.submit 'Comment', :class => "btn btn-default" %>
  <%end%>
<%end%>
<br>

<% @post.comments.each do |comment| %>
<p class="text-muted inline"> Comment <%= time_ago_in_words(comment.created_at) %> ago. </p>
  <strong><%= comment.user.name%></strong>
  <p><%= comment.body %></p>
  <%if logged_in? && current_user.id == comment.user_id%>
   <h2><%=link_to "x", post_comment_path(@post, comment), method: :delete%></h2>
  <%end%>
  <hr>
<% end %>
