<nav class="navbar">
  <ol class="breadcrumb">
  <% if logged_in? %>
    <li><%= link_to "Songs", posts_path%></li>
    <li><%= link_to "Users", users_path%></li>
    <li><%= link_to "Logout", logout_path, {method: "DELETE"} %></li>

  <% else %>
      <li><%= link_to "Login", new_session_path %></li>
      <li><%= link_to "Songs", posts_path%></li>
      <li><%= link_to "Users", users_path%></li>
  <% end %>
  <%unless logged_in?%>
    <li><%= link_to "Create Account!", new_user_path%></li>
  <%end%>

</ol>
</nav>
