<!DOCTYPE html>
<html>
<head>
  <title>Project2Redo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

  <%= render 'layouts/nav'%>
  <div class="container main-container">

<%= yield %>

</div>

</body>
</html>
